& {
  // padding: 1em
}

.navContainer {
  background: $dark-orange;
  padding: 1em;
  justify-content: space-between;
}

.company {
  font-size: 2em;
  margin-right: 0.5em;
}

.location {
  font-size: 1.4em;
}

.orderList {
  margin-top: 1em;
}
